:root{
    --color-blue:#3454CF;
    --color-grey:#72737F;
    --color-sky : #F6F8FF;
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'SF-Pro-Display-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container{
    max-width: 1303px !important;
}
/* fonts */
@font-face {
    font-family: 'SF-Pro-Display-Medium';
    src: url("/assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url("/assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
    font-family: 'SF-Pro-Display-Light';
    src: url("/assets/fonts/SF-Pro-Display-Light.otf");
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url("/assets/fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
    font-family: 'SF-Pro-Display-Thin';
    src: url("/assets/fonts/SF-Pro-Display-Thin.otf");
}

/* global style */
.font-300{
    font-family: 'SF-Pro-Display-Light';
}
.font-500{
    font-family: 'SF-Pro-Display-Medium';
}
.font-600{
    font-family: 'SF-Pro-Display-Semibold';
}
.font-400{
    font-family: 'SF-Pro-Display-Regular';
}
.color-blue{
    color: var(--color-blue) !important;
}
.color-grey{
    color: var(--color-grey);
}

/* global button component */
.button{
    background-color: var(--color-blue);
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 8.5px 29.4px;
    font-family: 'SF-Pro-Display-Regular';
    letter-spacing: 0.8px;
    display: block;
    width: fit-content;
}   
.button:hover{
    color: #fff;
}
/* header */
.navbar-list li a{
    color: var(--color-grey);
    font-size: 18px;
    font-family: 'SF-Pro-Display-Regular';
}
.navigation{
    box-shadow: 0px 0px 24px 0px #EAEAEAB2;
    padding: 18px 10px;
}

/* banner */
.banner{
    position: relative;
}
.banner::before{
    content: "";
    background-color: var(--color-sky);
    border-radius: 0px 0px 100px 100px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    height: 133vh;
}
.banner-text{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}

.banner-text h1{
    font-size: 57px;
    color: #000;
    padding-top: 104px;
    padding-bottom: 12px;
}
.banner-text h1 label{
    background-color: var(--color-blue);
    padding: 0px 9px;
}
.banner-text h1::after{
    content:"";
    background-image: url("../assets/images/line.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 247px;
    height: 36px;
    position: absolute;
    bottom: -30px;
    right: 19%;
}
.banner-text p{
    color: #4F4F4F;
    font-size: 22px;
    letter-spacing: 0.5px;
}
.partner_row{
    margin: 55px auto 0;
    max-width: 1192px;

}
.schedule-btn{
    font-size: 18px;
}
.banner_img img{
    margin: -44px auto 0;
}
.demo-btn_row{
    z-index: 99;
}

/* about us */
.about-sec{
    margin: 130px 0 106px;
}
.about-text{
    width: 46%;
}
.about-text__inner{
    padding-left: 20px;
    max-width: 546px;
    margin: 0 auto;
}
.about-us_img{
    width: 49%;
}
.about-us_img img{
    width: 100%;
}
.about-text__inner h2{
    padding-bottom: 40px;
    font-size: 36px;
}
.about-text__inner p{
    padding-bottom: 20px;
    line-height: 1.7;
}
 
/* key feature */
.key_feature_sec{
    background-color: var(--color-sky);
    padding: 101px 0px;
    border-radius: 100px;
}
.key_feature__row{
    margin-top: 110px;
}
.key_feature_sec h2{
    font-size: 36px;
}
.rightText{
    margin: 0 0 0 auto;
    max-width: 580px;
}
.key-feature_textCol h6{
    font-size: 36px;
    letter-spacing: -1px;
}
.key-feature_textCol p{
    color:#72737F;
    padding: 30px 0;
    max-width: 512px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.key-feature_textCol a{
    color: var(--color-blue);
    font-size: 18px;
}
.key-feature_imgCol img{
    width: 100%;
}

/* faq section */
.faq-section{
    margin: 106px auto;
    max-width: 1004px;
}
.faq-accordians{
    margin: 81px auto 0;
    max-width: 845px;
}
.faq-section h2{
    font-size: 36px;
}
.cutom-accordian_class{
    border: 1px solid #CACACA !important;
    border-radius: 10px !important;
    margin-bottom: 35px !important;
    padding: 4px 0;
}
.cutom-accordian_class .accordion-button{
    border-radius: 10px !important;
    color: #000;
    font-size: 20px;
    font-family: 'SF-Pro-Display-Medium';
    /* padding: 24px 23px 11px; */
}
.cutom-accordian_class .accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: unset;
}
.cutom-accordian_class .accordion-button:focus{
    box-shadow: unset;
}
.cutom-accordian_class .accordion-item:not(:first-of-type){
    border-top: unset;
}
.cutom-accordian_class .accordion-body{
    color: #72737F;
    letter-spacing: 0.4px;
}

/* testimonial */
.testimonial_sec{
    background-color: var(--color-sky);
    padding: 112px 0 93px;
    border-radius: 100px;
}
.testimonial_sec h2{
    font-size: 36px;
}
.testimonial_container{
    margin: 78px auto 0;
    max-width: 1168px;
}
.testimonial_col{
    background-color: #fff;
    border-radius: 20px;
    padding: 16px 25px;
}
.testimonial_col p{
    font-style: italic;
    color: #72737F;
    padding-bottom: 6px;
    border-bottom: 1px solid #D7D5D5;
    letter-spacing: 0.99px;
    height: 35vh;
    display: flex;
    align-items: center;
    line-height: 1.6;
}
.user_img_col{
    width: 100%;
}
.user_img_col img{
    width: 43px !important;
}
.review {
    width: 60%;
}
.review img{
    width: 17px !important;
}
.testimonial_user h6{
    font-size: 16px;
    color: #2C2E3E;
}
.testimonial_user span{
    font-size: 12px;
    color: #72737F;
}
.testimonial_user{
    padding-top: 21px;
}
.testimonial  .owl-dots{
    margin-top: 66px !important;
}
.testimonial .owl-dot.active span{
    background-color: var(--color-blue) !important;
}
.testimonial .owl-dot span{
    margin: 5px 3px !important;
}
/* join us */
.join-us_sec__Bg{
    background-image: url('../assets/images/join-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 491px;
    margin: 97px 0;
}
.join_row{
    height: 491px;
    padding: 0 30px 0 48px;
}
.join-img {
    height: 471px;
}
.join-img img{
    width: 94%;
    position: absolute;
    bottom: -9px;
    right: 0px;
}
.join_text a img{
    filter: brightness(9);
}
.join_text h5{
    padding-top: 45px;
    font-size: 36px;
}
.join_text p{
    padding: 27px 0 36px;
    font-family: 'SF-Pro-Display-Thin';
    letter-spacing: 0.5px;
}

/* contact info */
.contact_row{
    box-shadow: 0px 0px 30px 0px #A4A4A440;
    border-radius: 42px;
}
.contact-1{
    background-color: var(--color-blue);
    border-radius: 42px 0 0 42px;
    padding: 88px 58px;
    width: 42%;
}
.contact_form{
    margin: 58px auto 0;
    max-width: 565px;
}
.contact-1::after{
    content: "";
    background-image: url('../assets/images/circle.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 59%;
    height: 27%;
    bottom: 0;
    right: 0;
}
.contact-2{
    width: 63%;
    border-radius: 0px 42px 42px 0px;
    background-color: #fff;
    padding: 70px 44px 57px;
}
.contact-1 h3{
    font-size: 36px;
}
.contact-1 p{
    font-family: 'SF-Pro-Display-Thin';
    letter-spacing: 0.5px;
    padding: 25px 0 59px;
}
.contact-2 label{
    display: block;
}
.contact-2 input,
.contact-2 textarea{
    display: block;
    width: 100%;
    resize: none;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 9px 10px;
    outline: none;
    letter-spacing: 0.5px;
}
.contact-2 label{
    color: #344054;
    font-size: 14px;
    font-family: 'SF-Pro-Display-Medium';
    letter-spacing: 0.5px;
    padding-bottom: 8px;
}
.contact-2 div{
    margin-bottom: 23px;
}
.contact_info{
    margin-bottom: 39px;
    letter-spacing: 1px;
}
.contact_info img{
    width: 26px;
    filter: brightness(9);
}

/* footer */
.footer_bg{
    background-color: var(--color-sky);
    border-radius: 100px 100px 0 0;
    padding: 108px 0 26px;
    margin-top: 100px;
}
.footer_col-1 p{
    color: #2C2E3E;
    letter-spacing: 0.6px;
    padding-top: 25px;
}
.footer_list h6{
    color: #000;
    font-size: 20px;
    padding-bottom: 41px;
}
.footer_list a{
    color: #2C2E3E;
    display: block;
    padding-bottom: 12px;
    letter-spacing: 0.6px;
}
.footer_row{
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 20px;
    max-width: 1100px;
    margin: 0 auto;
}
.tagLine{
    letter-spacing: 0.6px;
}


/* contact-page */
.contact-banner{
    padding: 56px 0;
    background-color: var(--color-sky);
    border-radius: 0px 0px 100px 100px;
}

.contact-banner_text h1{
    font-size: 57px;
    max-width: 413px;
    letter-spacing: -0.5px;
    padding-bottom: 19px;
}
.contact-banner_text p{
    font-size: 22px;
    color: #4F4F4F;
    max-width: 590px;
}
.contact-banner_text.about-banner_text h1{
    max-width: 529px;
}
/* our mission */
.mission_text h2{
    font-size: 36px;
}
.mission_text p{
    font-size: 22px;
    color: #4F4F4F;
    line-height: 1.7;
}
.our-mission_sec{
    margin: 100px 0;
}

/* our values */
.our-value_bg{
    padding: 80px 0;
    background-color: var(--color-sky);
    border-radius: 100px;
}
.our-value_bg h2{
    font-size: 36px;
    color: #000;
    margin-bottom: 40px;
}
.value_col img{
    width: 60px;
    height: 60px;
    margin-bottom: 23px;
}
.value_col h5{
    font-size: 26px;
    color: #000;
}
.value_col p{
    font-size: 18px;
    color: #4F4F4F;
    padding-top: 27px;
    line-height: 1.4;
    letter-spacing: 0.5px;
   
}
.our-team_sec{
    margin: 80px 0;
}
.our-team_sec h2{
    font-size: 36px;
}
.team h6{
    color: #000;
    font-size: 26px;
    padding: 20px 0 8px;
}
.team p{
    color: #4F4F4F;
    font-size: 18px;
}
.team_img img{
    z-index: 99;
    position: relative;
}
.team_img::after{
    margin: 0 auto;
    content: "";
    position: absolute;
    background: #3454CF;
    left: 0;
    right: 0;
    top: 55px;
    bottom: 0px;
    border-radius: 201px 201px 0 0;
    width: 71%;
    height: 82.2%;
}
.our-team_row{
    margin: 62px auto 0;
    max-width: 1143px;
}
/* why choose us */
.choose-us__col{
    background-color: var(--color-sky);
    width: 32%;
    padding: 55px 37px;
    border-radius: 193px 193px 0px 0px;
    margin-bottom: 32px;
}
.choose-us__col h6{
    font-size: 22px;
    color: #000;
    padding: 35px 0 20px;
}
.choose-us__col p{
    color: #4F4F4F;
    letter-spacing: 0.6px;
}

/* how it works */
.how-works__Sec{
    background-color: var(--color-sky);
    border-radius: 100px;
    padding: 60px 0;
    margin-bottom: 60px;
}
.how-works__Sec h2{
    font-size: 36px;
    color: #000;
}
.works_col h6{
    font-size: 22px;
    color: #000;
    max-width: 288px;
    margin: 0 auto;
}
.works_col p{
    color: #72737F;
    padding: 18px 14px 33px;
}
.works_col a{
   font-size: 18px;
   color: var(--color-blue);

}
.works_col{
    width: 30%;
    position: relative;
}
.works_col::after{
    background-image: url('/assets/images/arrow_vector.svg');
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    top: 0;
    left: 67%;
}
.works_col:last-child:after{
    display: none;
}

.workImg{
    width:90px;
    height:90px;
    margin-bottom: 15px;
}
.how-works__row{
    margin-top: 55px;
    gap: 32px;
    justify-content: center;
}

/* policy page */
.text_list ul li{
    list-style-type: decimal;
    font-size: 24px;
    color: #000;
    margin: 0 0px 15px 20px;
}
.text_list.text_list2 ul li{
    margin: 0 0px 15px 36px !important;
}
.text_list ul p{
    color: #4F4F4F;
    padding-bottom: 22px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
.inner_list li{
    list-style-type: disc !important;
    margin: 0 0px 15px 45px !important;
}
.listing{
    border: 1px solid #CACACA;
    border-radius: 8px;
    width: 25%;
    padding: 19px 31px;
    height: fit-content;
    position: sticky;
    top: 0;
}
.text_list{
    width: 75%;
}
.listing ul li{
    list-style-type: decimal;
    margin-bottom: 14px;
    color: #7B7E81;
}
.listing ul li a{
    color: #7B7E81;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.policy_row{
    margin-top: 100px;
    gap: 43px;
    position: relative;
}
#navbarNav .active{
    color: var(--color-blue) !important;
    position: relative;
}
#navbarNav .active::after{
    content: "";
    background-color: var(--color-blue);
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
}
.navbar-list a{
    padding: 0 0 !important;
}
.navbar-list{
    gap: 23px;
}
/* media query */
@media screen and (max-width:1300px){
   .container{
        padding: 0 23px;
   }
   .contact-banner img{
    width: 100%;
   }
   .choose-us__col {
    width: 31%;
   }
   
}
@media screen and (max-width:1150px){
    .banner_img img {
        width: 100%;
    }
    .contact-banner_text h1 {
        font-size: 50px;
    }
    .banner-text h1 {
        font-size: 50px;
    }
    .banner-text h1 {
        font-size: 40px;
    }
    .banner-text h1::after { 
        width: 170px;
    }
    .banner-text p {
        font-size: 20px;
    }
    .works_col::after {
        width: 73%;
        height: 72px;
        background-size: 100% 100%;
    }
}


@media screen and (max-width:800px){
    .partner-sec_col img{
        width: 83%;
        height: 75px;
        object-fit: contain;
    }
    .contact-banner_text h1 {
        font-size: 38px;
    }
    .key-feature_textCol{
        margin-bottom: 40px;
    }
    .rightText{
        max-width: unset;
    }
    .key_feature__row {
        margin-top: 46px;
    }
    .testimonial_sec {
        padding: 86px 0 93px;
    }
    .testimonial_container {
        margin: 64px auto 0;
    }
    .join_row {
        padding: 33px 30px 24px 48px;
    }
    .join-img img {
        width: 60%;
        bottom: 0px;
        right: 0px;
        top: -34px;
    }
    .join-us_sec__Bg {
        background-size: cover;
        height: unset;
    }
    .contact-1 {
        padding: 88px 26px;
        width: 46%;
    }
    .contact-2 {
        padding: 70px 34px 57px;
    }
    .footer_list{
        margin-top: 40px;
    }
    .footer_list h6 {
        padding-bottom: 22px;
    }
    .footer_list a {
        padding-bottom: 8px;
    }
    .header-schedule{
        display: none;
    }
    .about_page__img img{
        width: 75%;
        margin: 0 auto;
        display: block;
    }
    .our-mission_sec {
        margin: 80px 0;
    }
    .value_col{
        margin-bottom: 30px;
    }
    .our-value_bg h2 {
        font-size: 34px;
    }
    .value_col p {
        padding-top: 16px;
    }
    .our-team_sec h2 {
        font-size: 34px;
    }
    .team_img::after {
        width: 100%;
    }
    .team h6 {
        font-size: 22px;
    }
    .team p {
        font-size: 16px;
    }
    .contact-banner img {
        width: 84%;
        margin: 0 auto;
        display: block;
    }
    .choose-us__col {
        width: 30%;
        padding: 40px 17px;
    }
    .choose-us__col img{
        width: 33%;
    }
    .choose-us__col h6 {
        font-size: 20px;
    }
    .works_col h6 {
        font-size: 18px;
    }
    .works_col p {
        padding: 18px 0px 33px;
    }
    .faq-section {
        margin: 80px auto;
    }
    .faq-section h2 {
        font-size: 32px;
    }

}

@media screen and (max-width:767px){
    .banner-text h1 {
        font-size: 28px;
    }
    .banner-text h1 {
        padding-top: 60px;
    }
    .banner-text p {
        font-size: 16px;
    }
    .button {
        font-size: 15px;
        padding: 8.5px 11.4px;
    }
    .banner_img{
        margin-top: 53px;
    }
    .banner::before {
        border-radius: 0px 0px 50px 50px;
        height: 92vh;
    }
    .partner-sec_col img {
        width: 100%;
        height: 74px;
        margin: 0 auto 28px;
        display: block;
    }
    .about-sec {
        margin: 46px 0 70px;
    }
    .about-row{
        flex-direction: column;
    }
    .about-text{
        width: 100%;
    }
    .about-us_img{
        width: 100%;
    }
    .about-text__inner h2 {
        padding-bottom: 14px;
        font-size: 30px;
    }
    .about-text__inner{
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .key_feature_sec{
        border-radius: 50px;
        padding: 72px 0px;
    }
    .about-us_img img {
        width: 97%;
        margin-left: auto;
        display: block;
    }
    .key_feature_sec h2 {
        font-size: 30px;
    }
    .key-feature_textCol h6 {
        font-size: 24px;
    }
    .faq-section {
        margin: 60px auto;
    }
    .faq-section h2 {
        font-size: 24px;
    }
    .faq-accordians {
        margin: 50px auto 0;
    }
    .cutom-accordian_class .accordion-button {
        font-size: 16px;
    }
    .cutom-accordian_class {
        margin-bottom: 22px !important;
    }
    .testimonial_sec{
        border-radius: 50px;
    }
    .testimonial_sec {
        padding: 40px 0 37px;
    }
    .testimonial_sec h2 {
        font-size: 24px;
    }
    .testimonial_col {
        padding: 25px 25px 16px;
    }
    .testimonial_col p{
        height: unset;
    }
    .testimonial_container {
        margin: 34px auto 0;
    }
    .join_row {
        padding:33px 13px 0px 34px;
        gap: 72px;
    }
    .join-img img{
        position: unset;
        margin-top: 0px;
    }
    .join_text h5 {
        padding-top: 23px;
        font-size: 24px;
    }
    .join-us_sec__Bg {
        margin: 60px 0;
        background-image: unset;
        background-color: var(--color-blue);
        border-radius: 26px;
    }
    
    .join-img{
        height: unset;
    }
    .join_text img{
        width: 60%;
    }
    .join_text a img{
        width: unset !important;
    }
    .join-img img {
        width: 100%;
        margin-top: 0px;
    }
    .join_text p {
        padding: 20px 0 23px;
    }
    .contact_row{
        flex-direction: column;
    }
    .contact-1{
        width: 100%;
        padding: 44px 26px;
        border-radius: 42px 42px 0 0;
    }
    .contact-2{
        width: 100%;
        padding: 0px 29px 43px;
        border-radius: 42px;
    }
    .contact-1 h3 {
        font-size: 24px;
    }
    .contact-1 p {
        padding: 14px 0 29px;
    }
    .contact_info {
        margin-bottom: 17px;
    }
    .contact-1::after{
        display: none;
    }
    .footer_bg {
        border-radius: 50px 50px 0 0;
        padding: 60px 0 26px;
        margin-top: 60px;
    }
    .footer_col-1 p {
        padding-top: 20px;
    }
    .footer_list {
        margin-top: 23px;
    }
    .footer_list h6 {
        padding-bottom: 13px;
    }
    .footer_list a {
        padding-bottom: 6px;
    }
    
    #navbarNav .active{
        width: fit-content;
    }
    .navbar-brand img{
        width: 82%;
    }
    .navigation {
        padding: 18px 0px;
    }
    .navbar-list {
        margin-top: 21px;
        gap: 11px;
    }
    
    .mission_text h2 {
        font-size: 28px;
        padding-bottom: 10px !important;
    }
    .contact-banner_text h1 {
        font-size: 28px;
    }
    .contact-banner_text p {
        font-size: 16px;
    }
    .contact-banner{
        padding: 50px 0 63px;
        border-radius: 0px 0px 50px 50px;
    }
    .about-banner_text{
        margin-bottom: 20px;
    }
    .our-mission_sec {
        margin: 60px 0;
    }
    .mission_text p {
        font-size: 16px;
    }
    .about_page__img img {
        width: 100%;
    }
    .our-value_bg {
        padding: 50px 0;
        border-radius: 50px;
    }
    .our-value_bg h2 {
        font-size: 28px;
    }
    .value_col{
        text-align: center;
    }
    .value_col img {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
    }
    .value_col h5 {
        font-size: 22px;
    }
    .our-team_sec{
        margin: 60px 0px;
    }
    .our-team_sec h2 {
        font-size: 28px;
    }
    .our-team_row {
        margin: 43px auto 0;
    }
    .team_img::after {
        width: 90%;
    }
    .team h6 {
        font-size: 18px;
        padding: 8px 0 3px;
    }
    .team{
        margin-bottom: 10px;
    }
    .contact-banner_text{
        margin-bottom: 20px;
    }
    .contact-banner img {
        width: 94%;
    }
    .choose-us__col{
        width: 100%;
        margin-bottom: 20px;
    }
    .choose-us__col img {
        width: 25%;
    }
    .choose-us__col h6 {
        font-size: 18px;
    }
    .how-works__Sec {
        border-radius: 50px;
    }
    .how-works__Sec h2{
        font-size: 28px;
    }
    .works_col{
        width: 100%;
    }
    .works_col::after{
        display: none;
    }
    .works_col a {
        font-size: 16px;
    }
    .key-feature_textCol a {
        font-size: 16px;
    }
    .policy_row{
        flex-direction: column;
    }
    .listing{
        width: 100%;
    }
    .text_list{
        width: 100%;
    }
    .policy_row {
        margin-top: 60px;
    }
    .listing ul li {
        margin-bottom: 10px;
    }
    .text_list ul li {
        font-size: 20px;
        margin: 0 0px 7px 20px;
    }
}
